/* General styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.main-content {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.left-panel {
  flex: 1;
  max-width: 33.33%;
  background-color: rgb(31, 33, 56);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-right: 2px solid #333;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.nav .btn {
  height: 30px;
  white-space: nowrap;
}

.weather-card-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-box {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.search-box input {
  flex: 1;
  padding: 8px 12px;
  border: none;
  font-size: 14px;
  background-color: #aeadb7;
  transition: background-color 0.3s ease;
}

.search-box input::placeholder {
  color: black;
  opacity: 1;
}

.search-box input:focus {
  background-color: #d6d6db;
  border-color: black;
  outline: none;
  animation: bounce 0.5s ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.weather-card {
  text-align: center;
  color: rgb(231, 231, 235);
  padding: 20px;
  margin: 0 auto;
  background-color: transparent;
}

.weather-card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
  animation: float 3s ease-in-out infinite;
  filter: drop-shadow(0 0 10px rgba(137, 180, 250, 0.5));
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.weather-card:hover img {
  transform: scale(1.1);
}

.weather-card h2 {
  font-size: 45px;
  margin-bottom: 10px;
  font-weight: bold;
}

.weather-temp {
  font-size: 75px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: -30px;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.weather-desc {
  font-size: 25px;
  margin-bottom: 20px;
}

.current-date {
  padding: 20px;
  margin-top: 20px;
  font-size: 18px;
  color: #666;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3.5s steps(40, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.right-panel {
  flex: 2;
  max-width: 66.66%;
  background-color: rgb(16, 14, 29);
  flex-direction: column;
  padding: 80px;
}

/* Forecast styles */
.forecast {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 200px;
  padding: 30px;
  background-color: rgb(31, 33, 56);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
  overflow: hidden;
  position: relative;
}

.forecast-item::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  transform: rotate(45deg);
  transition: 0.5s;
  opacity: 0;
}

.forecast-item:hover::before {
  left: -100%;
  top: -100%;
  opacity: 1;
}

.forecast-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.forecast-item:nth-child(1) {
  animation-delay: 0.1s;
}
.forecast-item:nth-child(2) {
  animation-delay: 0.2s;
}
.forecast-item:nth-child(3) {
  animation-delay: 0.3s;
}
.forecast-item:nth-child(4) {
  animation-delay: 0.4s;
}

.forecast-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.day-label {
  font-size: 14px;
  margin-bottom: 10px;
}

.weather-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
  filter: drop-shadow(0 0 5px rgba(137, 180, 250, 0.3));
}

.weather-icon:hover {
  transform: scale(1.1);
}

.temp-label {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5px;
}

.min-temp,
.max-temp {
  margin: 0 5px;
}

.min-temp {
  color: rgb(126, 126, 144);
}

.max-temp {
  color: rgb(231, 231, 235);
}

/* Weather Details styles */
.weather-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 90px;
  padding: 0 70px;
  align-items: center;
  justify-content: center;
}

.detail-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  padding: 20px;
  background-color: rgb(31, 33, 56);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  position: relative;
}

.detail-box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  transform: rotate(45deg);
  transition: 0.5s;
  opacity: 0;
}

.detail-box:hover::before {
  left: -100%;
  top: -100%;
  opacity: 1;
}

.detail-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.detail-label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.detail-value {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.detail-value h2 {
  font-size: 45px;
  font-weight: bold;
  margin: 0;
}

.unit {
  font-size: 20px;
  font-weight: normal;
  margin-left: 5px;
}

/* Button styles */
.btn {
  padding: 8px 12px;
  border: none;
  background-color: #aeadb7;
  color: black;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #d6d6db;
}

.search-input {
  padding: 8px 10px;
  font-size: 14px;
  width: 200px;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .left-panel,
  .right-panel {
    max-width: 100%;
    padding: 20px;
    border-right: none;
    border-bottom: 2px solid #333;
  }

  .weather-card {
    margin-top: 30px;
  }

  .weather-card img {
    width: 100px;
    height: 100px;
  }

  .weather-card h2 {
    font-size: 30px;
  }

  .weather-temp {
    font-size: 45px;
  }

  .weather-desc {
    font-size: 18px;
    height: 40px;
  }

  .detail-value h2 {
    font-size: 30px;
  }

  .unit {
    font-size: 16px;
  }

  .forecast {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 20px;
    margin-bottom: 20px;
    justify-content: center;
  }

  .forecast-item {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(31, 33, 56);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .forecast-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  .day-label {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .weather-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
  }

  .temp-label {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5px;
  }

  .min-temp,
  .max-temp {
    margin: 0 5px;
    font-size: 12px;
  }

  .min-temp {
    color: rgb(126, 126, 144);
  }

  .max-temp {
    color: rgb(231, 231, 235);
  }

  .weather-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 40px;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
  }

  .detail-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    display: flex;
    padding: 20px;
    background-color: rgb(31, 33, 56);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .detail-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  .detail-label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .detail-value {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
  }

  .detail-value h2 {
    font-size: 20px;
    margin: 0;
  }

  .unit {
    font-size: 16px;
    margin-left: 5px;
  }
}
