@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0; /* Light gray background */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.main-content {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.left-panel {
  flex: 1;
  max-width: 33.33%;
  background-color: rgb(31, 33, 56);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-right: 2px solid #333; /* Adding border for separation */
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px; /* Adjust margin-top to align items at the bottom */
}

.nav .btn {
  height: 30px; /* Ensure consistent height for buttons in nav */
  white-space: nowrap; /* Prevent text from wrapping */
}

.weather-card-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-box {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.search-box input {
  flex: 1;
  padding: 8px 12px;
  border: none;
  font-size: 14px; /* Slightly larger font size */
  background-color: #aeadb7;
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.search-box input::placeholder {
  color: black;
  opacity: 1;
}

.search-box input:focus {
  background-color: #d6d6db; /* Light gray on focus */
  border-color: black;
  outline: none;
}

.weather-card {
  text-align: center;
  color: rgb(231, 231, 235);
  padding: 20px;
  margin: 0 auto;
  background-color: transparent; /* Transparent background */
}

.weather-card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease; /* Smooth transformation */
}

.weather-card:hover img {
  transform: scale(1.1); /* Scale up image on hover */
}

.weather-card h2 {
  font-size: 45px;
  margin-bottom: 10px;
  font-weight: bold;
}

.weather-temp {
  font-size: 75px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: -30px;
}

.weather-desc {
  font-size: 25px;
  margin-bottom: 20px;
}

.current-date {
  padding: 20px;
  margin-top: 20px;
  font-size: 18px;
  color: #666;
}

.right-panel {
  flex: 2;
  max-width: 66.66%;
  background-color: rgb(16, 14, 29);
  flex-direction: column;
  padding: 80px;
}

/* Forecast styles */
.forecast {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 200px;
  padding: 30px;
  background-color: rgb(31, 33, 56);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.forecast-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.forecast-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.day-label {
  font-size: 14px;
  margin-bottom: 10px;
}

.weather-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  transition: transform 0.3s ease; /* Smooth transformation */
}

.weather-icon:hover {
  transform: scale(1.1); /* Scale up icon on hover */
}

.temp-label {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5px;
}

.min-temp,
.max-temp {
  margin: 0 5px;
}

.min-temp {
  color: rgb(126, 126, 144);
}

.max-temp {
  color: rgb(231, 231, 235);
}

/* Weather Details styles */
.weather-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 90px;
  padding: 0 70px;
  align-items: center;
  justify-content: center;
}

.detail-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  padding: 20px;
  background-color: rgb(31, 33, 56);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.detail-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.detail-label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px; /* Increase gap between label and value */
  margin-top: 10px; /* Add gap on top of the label */
}

.detail-value {
  display: flex;
  align-items: baseline; /* Align unit with the bottom of the value */
  justify-content: center;
}

.detail-value h2 {
  font-size: 45px;
  font-weight: bold;
  margin: 0;
}

.unit {
  font-size: 20px;
  font-weight: normal;
  margin-left: 5px;
}

/* Button styles */
.btn {
  padding: 8px 12px;
  border: none;
  background-color: #aeadb7;
  color: black;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.btn:hover {
  background-color: #d6d6db;
}

.search-input {
  padding: 8px 10px;
  font-size: 14px;
  width: 200px;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .left-panel,
  .right-panel {
    max-width: 100%;
    padding: 20px;
    border-right: none;
    border-bottom: 2px solid #333; /* Adding border for separation */
  }

  .weather-card {
    margin-top: 30px;
  }
  .weather-card img {
    width: 100px;
    height: 100px;
  }

  .weather-card h2 {
    font-size: 30px;
  }

  .weather-temp {
    font-size: 45px;
  }

  .weather-desc {
    font-size: 18px;
    height: 40px; /* Ensure the same height for description box */
  }

  .detail-value h2 {
    font-size: 30px;
  }

  .unit {
    font-size: 16px;
  }

  .forecast {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 20px;
    margin-bottom: 20px; /* Add margin to separate forecast from details */
    justify-content: center;
  }

  .forecast-item {
    width: 100%;
    height: 150px; /* Ensure uniform size */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(31, 33, 56);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .forecast-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  .day-label {
    font-size: 14px;
    margin-bottom: 5px; /* Adjust spacing between label and icon */
  }

  .weather-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 5px; /* Adjust spacing */
    transition: transform 0.3s ease; /* Smooth transformation */
  }

  .temp-label {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5px;
  }

  .min-temp,
  .max-temp {
    margin: 0 5px;
    font-size: 12px; /* Adjust font size */
  }

  .min-temp {
    color: rgb(126, 126, 144);
  }

  .max-temp {
    color: rgb(231, 231, 235);
  }

  .weather-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 40px; /* Reduce top margin for details */
    padding: 0 20px;
    align-items: center;
    justify-content: center;
  }

  .detail-box {
    width: 100%;
    height: 150px; /* Ensure uniform size */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(31, 33, 56);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .detail-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  .detail-label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px; /* Adjust spacing */
    margin-top: 5px; /* Adjust spacing */
  }

  .detail-value {
    display: flex;
    align-items: baseline; /* Align unit with the bottom of the value */
    justify-content: center;
    width: 100%;
  }

  .detail-value h2 {
    font-size: 30px;
    margin: 0;
  }

  .unit {
    font-size: 16px;
    margin-left: 5px;
  }
}
